{% extends 'base.html' %}
{% block content %}

      <!-- Cadastro de questão -->
      <div class="container mt-5">
        <div class="row d-flex justify-content-center">
            <!-- Formulário -->
            <div class="col-md-8 border border-3" style="border-color: #bcbcbc; border-radius: 20px; height: auto;">
                <div class="fw-bold text-center mt-5" style="font-size: 25px;">Cadastro de Questões</div>
                <div class="container d-flex justify-content-center">
                    <form action="{{url_for('cadquest')}}" method="post" class="row mt-4 mb-5" style="width: 75%;">
                        <div class="mt-3">
                            <label class="form-label fw-bold">Tema:</label>
                            <select class="form-select" name="theme">
                                    <option selected>Selecione um tema</option>
                                {% for theme in themes %}
                                    <option value="{{ theme.id }}">
                                        {{ theme.descryption }}
                                    </option>
                                {% endfor %}
                            </select>                            
                        </div>
                        <div class="mt-3">
                            <label class="form-label fw-bold">Tipo da Questão:</label>
                            <select class="form-select" name="questionType">
                                    <option selected>Selecione um tipo de questão</option>
                                {% for questType in questTypes %}
                                    <option value="{{ questType.id }}">
                                        {{ questType.descryption }}
                                    </option>
                                {% endfor %}
                            </select>  
                        </div>
                        <div class="mt-3">
                            <label class="form-label fw-bold">Região:</label>
                            <select class="form-select" name="region">
                                    <option selected>Selecione uma região</option>
                                {% for region in regions %}
                                    <option value="{{ region.id }}">
                                        {{ region.descryption }}
                                    </option>
                                {% endfor %}
                            </select>  
                        </div>                            
                        <div class="mt-3">
                            <label class="form-label fw-bold">Questão:</label>
                            <input type="text" name="question" class="form-control" placeholder="Digite a questão">
                        </div>
                        <div class="mt-3">
                            <label class="form-label fw-bold">Resposta 1:</label>
                            <input type="text" name="response1" class="form-control" placeholder="Digite a resposta">
                        </div>
                        <div class="mt-3">
                            <label class="form-label fw-bold">Resposta 2:</label>
                            <input type="text" name="response2" class="form-control" placeholder="Digite a resposta">
                        </div>
                        <div class="mt-3">
                            <label class="form-label fw-bold">Resposta 3:</label>
                            <input type="text" name="response3" class="form-control" placeholder="Digite a resposta">
                        </div>
                        <div class="mt-3">
                            <label class="form-label fw-bold">Resposta 4:</label>
                            <input type="text" name="response4" class="form-control" placeholder="Digite a resposta">
                        </div>
                        <div class="mt-3">
                            <label class="form-label fw-bold">Foto 1:</label>
                            <input class="form-control" type="file" name="picture1">
                        </div>
                        <div class="mt-3">
                            <label class="form-label fw-bold">Foto 2:</label>
                            <input class="form-control" type="file" name="picture2">
                        </div>
                        <div class="mt-3">
                            <label class="form-label fw-bold">Foto 3:</label>
                            <input class="form-control" type="file" name="picture3">
                        </div>
                        <div class="mt-3">
                            <label class="form-label fw-bold">Foto 4:</label>
                            <input class="form-control" type="file" name="picture4">
                        </div>
                        <div class="mt-3">
                            <label class="form-label fw-bold">Validação 1:</label>
                            <select class="form-select" name="validation1">
                                    <option selected>Selecione uma validação</option>
                                {% for validation in validations %}
                                    <option value="{{ validation.id }}">
                                        {{ validation.descryption }}
                                    </option>
                                {% endfor %}
                            </select>                     
                        </div>
                        <div class="mt-3">
                            <label class="form-label fw-bold">Validação 2:</label>
                            <select class="form-select" name="validation2">
                                    <option selected>Selecione uma validação</option>
                                {% for validation in validations %}
                                    <option value="{{ validation.id }}">
                                        {{ validation.descryption }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mt-3">
                            <label class="form-label fw-bold">Validação 3:</label>
                            <select class="form-select" name="validation3">
                                    <option selected>Selecione uma validação</option>
                                {% for validation in validations %}
                                    <option value="{{ validation.id }}">
                                        {{ validation.descryption }}
                                    </option>
                                {% endfor %}
                            </select>  
                        </div>
                        <div class="mt-3">
                            <label class="form-label fw-bold">Validação 4:</label>
                            <select class="form-select" name="validation4">
                                    <option selected>Selecione uma validação</option>
                                {% for validation in validations %}
                                    <option value="{{ validation.id }}">
                                        {{ validation.descryption }}
                                    </option>
                                {% endfor %}
                            </select>  
                        </div>
                        <div class="d-flex justify-content-center">
                            <input type="submit" value="Cadastrar" class="mt-5 btn text-white fw-bold" style="background-color: #5491C7; width: 190px;">
                        </div>
                    </form>
                </div>
            </div>
            <!-- Fim formulário -->
        </div>
    </div>
<!-- Fim cadastro de questão -->

{% endblock content %}